/* .main {
   text-align: center;
} */

/* login and register components */

.login-component,
.register-component {
   overflow: hidden;
   height: 100vh;
}

.login-container,
.register-container {
   margin: auto;
   width: 300px;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   text-align: center;
   background-color: white;
   border-radius: 10px;
   box-shadow: 1px 1px 10px #9ab5d6;
}

.register-container {
   height: 300px;
}

.form-page-title h1 {
   text-align: center;
   font-size: 50px;
   text-transform: uppercase;
   color: #0a66c2;
   letter-spacing: 1px;
   font-family: 'Playfair Display', serif;
   font-weight: 400;
}

.form-input {
   margin: 5px;
   height: 30px;
   width: 200px;
   border: none;
   outline: none;
   border-bottom: 2px solid #9ab5d6;
}

.password-container {
   position: relative;
}

#eye {
   position: absolute;
   top: 28%;
   right: 4%;
   cursor: pointer;
   color: lightgray;
}

.form-submit-btn {
   margin: 5px;
   height: 35px;
   width: 210px;

   align-items: center;
   background-color: #0a66c2;
   border: 0;
   border-radius: 100px;
   box-sizing: border-box;
   color: #ffffff;
   cursor: pointer;
   display: inline-flex;
   font-family: -apple-system, system-ui, system-ui, 'Segoe UI', Roboto,
      'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell,
      'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Lucida Grande', Helvetica, Arial, sans-serif;
   font-size: 16px;
   font-weight: 600;
   justify-content: center;
   line-height: 20px;
   overflow: hidden;
   padding: 0px;
   padding-left: 20px;
   padding-right: 20px;
   text-align: center;
   touch-action: manipulation;
   transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
      box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
      color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
   user-select: none;
   -webkit-user-select: none;
   vertical-align: middle;
}

.form-submit-btn:hover,
.form-submit-btn:focus {
   background-color: #16437e;
   color: #ffffff;
}

.form-submit-btn:active {
   background: #09223b;
   color: rgb(255, 255, 255, 0.7);
}

.form-submit-btn:disabled {
   cursor: not-allowed;
   background: rgba(0, 0, 0, 0.08);
   color: rgba(0, 0, 0, 0.3);
}

.change-form-link {
   color: black;
   font-size: small;
}

.change-form-link:link,
.nav-link:link {
   text-decoration: none;
}
.change-form-link:visited,
.nav-link:visited {
   text-decoration: none;
}
.change-form-link:hover,
.nav-link:hover {
   text-decoration: underline;
}
.change-form-link:active,
.nav-link:active {
   text-decoration: underline;
}

/* /////////////////////////// */

/* navbar component */

.navbar {
   /* border: 1px solid red; */
   background-color: #62656a;
   position: fixed;
   /* position:absolute; */
   top: 0;
   width: 100%;
   /* opacity: 0.9; */
   z-index: 1;
}

.nav-header {
   display: inline-block;
   margin: 10px;
}

.navbar h1 {
   text-transform: uppercase;
   color: #083461;
   letter-spacing: 1px;
   font-family: 'Playfair Display', serif;
   font-weight: 400;
}

.navbar-elements {
   display: inline-block;
   margin-left: 30px;
   width: 1000px;
   position: relative;
}

.nav-logout-element {
   position: absolute;
   right: 0px;
}

.nav-logout-btn {
   background-color: #0a66c2;
   border: none;
   border-radius: 15px;
   padding: 5px 15px;
}

.nav-logout-btn:hover {
   cursor: pointer;
}

.nav-element {
   margin: 5px;
}

.nav-link {
   color: white;
}

/* /////////////////////// */

/* about component */

.about-container {
   border: 1px solid red;
   margin: auto;
   margin-top: 120px;
   width: 800px;
   height: 800px;
}

/* /////////////////////// */

/* vacation feed component */

.vacation-feed-container,
.feed {
   max-width: 100%;
   height: 100%;
   margin-top: 100px;
}

.feed {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   /* padding: 10px; */
}

/* /////////////////////// */

/* vacation card component */

.vacation-card {
   width: 280px;
   height: 320px;
   margin: 5px;
   /* border: 1px solid red; */
   border-radius: 10px;
   background-color: #bbc1c9;
   opacity: 0.9;

}

.card-img {
   width: 280px;
   height: 160px;
   border-radius: 10px;
   position: relative;
   overflow: hidden;
}

.vac-img {
   object-fit: contain;
   width: 100%;
   height: 100%;
}

.card-disc,
.card-dest,
.card-price  {
   margin:5px;
}

.card-dest {
   font-size: small;
}

.card-price {
   /* border: 1px green solid; */
   background-color: white;
   border-radius: 5px;
   position: absolute;
   bottom: 0;
   right: 0;
   padding: 5px;
}

/* //////////////////////// */
